.container {
  position: relative;
  max-width: calc(#{$tablet} - (2 * 1.5rem));
  margin: 0 auto;
  padding: 0 1rem;

  @include desktop-only {
    max-width: calc(#{$desktop} - (2 * 1.5rem));
  }

  @include widescreen {
    max-width: calc(#{$widescreen} - (2 * 1.5rem));
  }

  // @include fullhd {
  //   max-width: calc(#{$fullhd} + (2 * 1.5rem));
  // }
}

// nav min-height from bulma = 3.5rem
// for header's position:fixed
.main-container {
  flex: 1 0 auto;
  min-height: calc(100vh - #{$header-nav-height});
  margin-top: $header-nav-height;  // for header
}

