{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "ie 11",
          "safari >= 10"
        ]
      },
      "modules": false,
      "loose": true
    }]
  ],
  "plugins": [
    ["lodash"],
    ["transform-es2015-for-of", { "loose": true }],
    ["transform-object-assign", { "loose": true }],
    ["transform-object-rest-spread", { "loose": true }]
  ]
}
