// Material Design Lite define
@import "~material-design-lite/src/color-definitions";
@import "~material-design-lite/src/variables";
@import "~material-design-lite/src/mixins";

// Global Prefixer
$prefix-for-webkit:    true;
$prefix-for-mozilla:   true;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;
$prefix-for-spec:      true;

// Modular scale
$base-size:            16px;
$modular-scale-base:   1rem;
$modular-scale-ratio:  $major-second;
/*
 * $golden:           1.618;
 * $minor-second:     1.067;
 * $major-second:     1.125;
 * $minor-third:      1.2;
 * $major-third:      1.25;
 * $perfect-fourth:   1.333;
 * $augmented-fourth: 1.414;
 * $perfect-fifth:    1.5;
 * $minor-sixth:      1.6;
 * $major-sixth:      1.667;
 * $minor-seventh:    1.778;
 * $major-seventh:    1.875;
 * $octave:           2;
 * $major-tenth:      2.5;
 * $major-eleventh:   2.667;
 * $major-twelfth:    3;
 * $double-octave:    4;
*/


//
// Font
// -------------------------
$font-family-base:        -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", YuGoMedium, Meiryo, sans-serif, Emoji !default;
$font-family-monospace:   Consolas, "Liberation Mono", Menlo, Courier, monospace, Emoji !default;
$font-weight-base:        normal;

// MDL
$preferred_font:          inherit;
$performance_font:        inherit;

$font-size-base:          $base-size;
$font-size-lg:            modular-scale(1);
$font-size-sm:            modular-scale(-1);

$font-size-h1:            modular-scale(4);
$font-size-h2:            modular-scale(3);
$font-size-h3:            modular-scale(2);
$font-size-h4:            modular-scale(1);
$font-size-h5:            modular-scale(0);
$font-size-h6:            modular-scale(-1);

$line-height-base:        1.75; // 28/16
$line-height-computed:    floor(($font-size-base * $line-height-base));


//
// Layout
// -------------------------
$spacer:               1rem;

$screen-xs:            480px;  // Extra small screen / phone
$screen-sm:            768px;  // Small screen / tablet
$screen-md:            992px;  // Medium screen / desktop
$screen-lg:            1200px;

$container-max-width:  1140px;

//
// Colors
// -------------------------
// https://github.com/google/material-design-lite/blob/master/src/_color-definitions.scss

// MDL
$color-primary:             $color-white;
$color-primary-dark:        $palette-grey-700;
$color-accent:              $palette-grey-200;
$color-primary-contrast:    $palette-grey-700;
$color-accent-contrast:     $palette-grey-700;

// original
$link-color:            unquote("rgb(#{$palette-blue-A200})");
$link-hover-color:      unquote("rgb(#{$palette-blue-A400})");
$link-visit-color:      unquote("rgb(#{$palette-purple-A400})");
$link-border-color:     unquote("rgb(#{$palette-blue-100})");

$table-border-color:    unquote("rgb(#{$palette-grey-200})");

$font-color-h1:         unquote("rgb(#{$palette-grey-900})");
$font-color-h2:         unquote("rgb(#{$palette-grey-800})");
$font-color-h3:         unquote("rgb(#{$palette-grey-700})");
$font-color-h4:         unquote("rgb(#{$palette-grey-600})");
$font-color-h5:         unquote("rgb(#{$palette-grey-500})");
$font-color-h6:         unquote("rgb(#{$palette-grey-400})");
