*,
*::before,
*::after {
  box-sizing: border-box;
}

[v-cloak] {
  display: none !important;
}

::selection {
  background: $grey-300;
  color: $grey-900;
}

::-moz-selection {
  background: $grey-300;
  color: $grey-900;
}

// Body reset
html {
  font-family: $font-family-base;
  font-size: 100%;
  line-height: $line-height-base;
  font-feature-settings: "kern" 1, "lnum" 1, "pnum" 1;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: -ms-autohiding-scrollbar;

  @media screen and (max-width: $screen-sm) {
    font-size: 93.75%;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 106.25%;
  }

}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  background: $white;
  color: $grey-700;
  font-weight: $font-weight-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Links
a {
  transition: color .3s ease, border .3s ease, background .3s $animation-curve-fast-out-slow-in, opacity .3s ease;
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
  &:focus {
    outline: 0;
  }
}

// Figures
figure {
  margin: 0 0 1rem;
  text-align: center;
  img {
    margin-bottom: 0;
  }
}
figcaption {
  color: $grey-400;
  font-size: $font-size-xs;
}

// Images
img {
  vertical-align: middle;
}


// Tables
table {
  margin: 0 auto;
  border: $table-border-width solid $table-border-color;
  background: #fff;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
  border: $table-border-width solid $table-border-color;
  border-top: $table-border-width solid $table-border-color;
  vertical-align: top;
}

thead {
  th {
    border-bottom: ($table-border-width * 2) solid $table-border-color;
    background: $table-head-bg-color;
    vertical-align: bottom;
  }
  th,
  td {
    border-bottom-width: (2 * $table-border-width);
  }
}

tbody {
  tr {
    transition: background .3s $animation-curve-fast-out-slow-in;
    &:hover {
      background: $table-hover-color;
    }
  }
  & + & {
    border-top: ($table-border-width * 2) solid $table-border-color;
  }
}

.table-container {
  white-space: nowrap;
  overflow: auto;
}

// define list
dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

// input
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-feature-settings: "liga" 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
