*,
*::before,
*::after {
  box-sizing: border-box;
}

@include selection {
  background: $grey-300;
  color: $grey-900;
}

// Body reset
html {
  font-family: $font-family-base;
  font-size: 100%;
  line-height: $line-height-base;
  font-feature-settings: "kern" 1, "lnum" 1, "pnum" 1;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media screen and (max-width: $screen-sm) {
    font-size: 93.75%;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: 106.25%;
  }

}

body {
  background: $grey-100;
  color: $grey-700;
  font-weight: $font-weight-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Links
a {
  transition: color .3s ease, border .3s ease;
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
  &:focus {
    outline: 0;
  }
}

// Figures
figure {
  margin: 0 0 1rem;
}

// Images
img {
  vertical-align: middle;
}


// Tables
table {
  background: $white;
  border-collapse: collapse;
}

th {
  text-align: left;
}

// define list
dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

// input
input {
  font-feature-settings: "liga" 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}
