.container {
  position: relative;
  margin: 0 auto;

  @include from($tablet) {
    max-width: calc(#{$tablet} + (2 * 1.5rem));
  }

  @include from($desktop) {
    max-width: calc(#{$desktop} + (2 * 1.5rem));
  }

  @include from($widescreen) {
    max-width: calc(#{$widescreen} + (2 * 1.5rem));
  }

  // @include fullhd {
  //   max-width: calc(#{$fullhd} + (2 * 1.5rem));
  // }
}

// nav min-height from bulma = 3.5rem
// for header's position:fixed
.main-container {
  flex: 1 0 auto;
  min-height: calc(100vh - #{$header-nav-height});
  margin-top: $header-nav-height + 1rem;  // for header
}

.contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .container {
    padding: 0 1rem;
  }
}
