.container {
  position: relative;
  margin: 0 auto;
  @include desktop {
    width: $desktop - (2 * $font-size-base);
    max-width: $desktop - (2 * $font-size-base);
  }
  @include widescreen {
    width: $widescreen - (2 * $font-size-base);
    max-width: $widescreen - (2 * $font-size-base);
  }
  @include fullhd {
    width: $fullhd - (2 * $font-size-base);
    max-width: $fullhd - (2 * $font-size-base);
  }
}

// nav min-height from bulma = 3.5rem
// for header's position:fixed
.main-container {
  flex: 1 0 auto;
  min-height: 100vh;
  margin-top: $header-nav-height + 1rem;  // for header
}

.contents {
  .container {
    padding: 0 1rem;
  }
}
