.container {
  position: relative;
  margin: 0 auto;
  @include desktop {
    width: $desktop - (2 * $font-size-base);
    max-width: $desktop - (2 * $font-size-base);
  }
  @include widescreen {
    width: $widescreen - (2 * $font-size-base);
    max-width: $widescreen - (2 * $font-size-base);
  }
  @include fullhd {
    width: $fullhd - (2 * $font-size-base);
    max-width: $fullhd - (2 * $font-size-base);
  }
}

.main-container {
  min-height: 100vh;
}

.header-navigation,
.main-container,
.footer-navigation {
  > .container {
    padding: 0 1rem;
  }
}
