h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: $perfect-fourth;
}

h1,
h2,
h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  color: $font-color-h1;
  font-size: $font-size-h1;
  margin-top: 0;
}
h2 {
  color: $font-color-h2;
  font-size: $font-size-h2;
}
h3 {
  color: $font-color-h3;
  font-size: $font-size-h3;
}
h4 {
  color: $font-color-h4;
  font-size: $font-size-h4;
}
h5 {
  color: $font-color-h5;
  font-size: $font-size-h5;
}
h6 {
  color: $font-color-h6;
  font-size: $font-size-h6;
}

pre {
  overflow: visible;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

pre,
code {
  font-family: $font-family-monospace;
  font-feature-settings: "zero" 1;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

mark {
  color: $grey-900;
  background: $yellow-100;
}
