[v-cloak] {
  display: none !important;
}

.element-hide {
  display: none !important;
}

.element-show {
  display: block !important;
}

.element-visible {
  visibility: visible !important;
}

.element-invisible {
  visibility: hidden !important;
}
