[v-cloak] {
  display: none !important;
}

.element-hide {
  display: none !important;
}

.element-show {
  display: block !important;
}

.element-visible {
  visibility: visible !important;
}

.element-invisible {
  visibility: hidden !important;
}

// icon
.icon-open_in_new {
  &::before {
    content: "";
    display: inline-block;
    background: url('../images/icon/open_in_new.svg') no-repeat;
    background-size: 1rem;
    width: 1rem;
    height: 1rem;
    vertical-align: top;
  }
}
