.breadcrumb {
  font-size: $font-size-sm;
  word-wrap: break-word;
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  @extend .mdl-color-text--grey-400;
  @include clearfix;

  > li {
    float: left;

    &.active {
      @extend .mdl-color-text--grey-600;
    }
    &:not(:last-child) {
     margin-right: .5rem;
    }

    a {
      color: inherit;
      border: 0;
      &:hover {
        text-decoration: underline;
      }
    }

  }

}
