.wrap {
  main {
    padding: 0 ($layout-header-desktop-baseline - $grid-desktop-margin);

    @media screen and (max-width: $layout-screen-size-threshold) {
      $grid-padding: $grid-desktop-margin + ($grid-desktop-gutter / 2);
      padding: 0 ($layout-header-desktop-baseline - $grid-padding);
    }

    @media screen and (max-width: $screen-xs) {
      padding: 0;
    }

  }

  // .mdl-grid {}
  // .mdl-cell {}

}
