.mokuji-title {
  display: table-cell;
  padding-right: 3rem;
  white-space: nowrap;

  @media screen and (max-width: $screen-xs) {
    display: table-caption;
  }
}

.mokuji-content {
  display: table-cell;
  border-left: solid 3px unquote("rgb(#{$palette-blue-100})");
  padding-left: 1rem;

  a {
    border: 0 !important;
    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    list-style: none;
    margin-bottom: 0;
    ol {
      margin-bottom: .5rem;
      padding-left: 1rem;
    }
  }

}
