// pagination
.pagination-container {
  text-align: center;
  margin: ($spacer * 2) 0;
}

.pagination {
  padding-left: 0;

  > li {
    display: inline;

    > a, > span {
      font-size: $font-size-sm;
      margin: 0 ($spacer / 4);
      padding: .75rem;

      @extend .mdl-color-text--grey-600;

      &:hover,
      &:focus {
        outline: 0;
      }

      @media screen and (max-width: $screen-xs) {
        display: none;
      }

    }

  }

  .previous > a {
    margin-right: $spacer;
  }
  .next > a {
    margin-left: $spacer;
  }
  .active > span {
    font-weight: bold;
    cursor: default;
    border-radius: 2px;
    @extend .mdl-color--grey-600, .mdl-color-text--white;
  }

  .next > a,
  .previous > a,
  .active > span {
    @media screen and (max-width: $screen-xs) {
      display: block;
    }
  }

}



// pager
.pager {
  a {
    border-radius: ($spacer * .125);
    padding: .5rem;
    @extend .mdl-color-text--grey-600;

    &:hover {
      @extend .mdl-color--grey-300;
    }

    .pager-icon,
    .pager-title,
    .pager-instruct {
      display: block;
    }
    .pager-icon {
      width: 2rem;
      text-align: center;
      @extend .mdl-color-text--grey-800;
    }
    .pager-instruct {
      text-transform: uppercase;
      font-weight: bold;
      @extend .mdl-color-text--grey-500;
    }

    &:focus {
      outline: 0;
    }
  }

  .previous {
    text-align: left;
    .pager-icon {
      float: left;
    }
    .pager-title {
      padding-left: 2rem;
    }
  }
  .next {
    text-align: right;
    .pager-icon {
      float: right;
    }
    .pager-title {
      padding-right: 2rem;
    }
  }

}
