// pagination
.pagination-container {
  text-align: center;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: $spacer 0;

  > li {
    display: inline;

    > a, > span {
      position: relative;
      font-size: $font-size-sm;
      text-decoration: none;
      line-height: $line-height-base;
      margin: 0 ($spacer / 4);
      padding: .75rem 1rem;
      float: left;

      border-radius: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);

      @extend .mdl-color--white, .mdl-color-text--grey-600;

      &:focus {
        outline: 0;
      }

    }

    .previous {
      > a {
        margin-right: $spacer;
      }
    }
    .next {
      > a {
        margin-left: $spacer;
      }
    }
  }

  > li > a {
    &:hover,
    &:focus {
      @extend .mdl-color--grey-100, .mdl-color-text--grey-800;
    }
  }

  > .active > span {
    &,
    &:hover,
    &:focus {
      font-weight: bold;
      @extend .mdl-color--grey-600, .mdl-color-text--white;
      cursor: default;
    }
  }

}


// pager
.pager {
  padding-left: 0;
  margin: $spacer 0;
  list-style: none;
  text-align: center;

  @include clearfix;

  li > a {
    text-decoration: none;
    line-height: $line-height-base;
    padding: .75rem 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    @extend .mdl-color--white, .mdl-color-text--grey-600;

    &:hover {
      @extend .mdl-color--grey-100, .mdl-color-text--grey-800;
    }
    &:focus {
      outline: 0;
    }

  }

  .previous > a {
    float: left;
  }
  .next > a {
    float: right;
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus {
      @extend .mdl-color--grey-200, .mdl-color-text--grey-400;
      cursor: not-allowed;
    }
  }

}
