@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("~material-design-icons/iconfont/MaterialIcons-Regular.eot");
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}
.material-icons {
  @include typo-icon;
  /* Preferred icon size */
  width: 1em;
  height: 1em;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

// Rules for sizing the icon.
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

// Rules for using icons as black on a light background.
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

// Rules for using icons as white on a dark background.
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}


// Emoji
// @link https://hail2u.net/blog/webdesign/emoji-shotcut-family.html
@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji'),
       local('Gecko Emoji'),
       local('Noto Sans Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Sans Symbols');
}
