*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  font-family: $font-family-base;
  line-height: $line-height-base;
  font-feature-settings: "kern" 1, "lnum" 1, "pnum" 1;
  scroll-behavior: smooth;
}

@include selection {
  color: unquote("rgb(#{$palette-grey-900})");
  background: unquote("rgb(#{$palette-grey-300})");
}

// Body reset
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: $font-size-base;
  @media screen and (max-width: $screen-sm) {
    font-size: $font-size-base - 1;
  }
  @media screen and (min-width: $screen-md) {
    font-size: $font-size-base + 1;
  }

  font-weight: $font-weight-base;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // bg, color
  @extend .mdl-color--grey-200, .mdl-color-text--grey-700;
}


// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: color .3s ease, border .3s ease;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:focus {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

// Figures
figure {
  margin: 0 0 1rem;
}

// Images
img {
  vertical-align: middle;
}


// Tables
table {
  border-collapse: collapse;
  @extend .mdl-color--white;
}

th {
  text-align: left;
}

// input
input {
  font-feature-settings: "liga" 0;
}
