
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}


// Body reset
html {
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;

  scroll-behavior: smooth;
	-webkit-font-smoothing: subpixel-antialiased;
  
  // bg, color
  @extend .mdl-color--grey-200, .mdl-color-text--grey-800;
}


// Links
a {
  color: $link-color;
  text-decoration: none;
  transition: all .3s ease;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }

  &:focus {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

// Code
pre {
  overflow: auto;
}
pre, code {
  font-family: $font-family-monospace;
}

// Figures
figure {
  margin: 0 0 1rem;
}

// Images
img {
  vertical-align: middle;
}


// Tables
table {
  border-collapse: collapse;
  @extend .mdl-color--white;
}

th {
  text-align: left;
}
