.wrap {
  main {
    padding: 0 ($layout-header-desktop-baseline - $grid-desktop-margin);

    @media screen and (max-width: $layout-screen-size-threshold) {
      $grid-padding: $grid-desktop-margin + ($grid-desktop-gutter / 2);
      padding: 0 ($layout-header-desktop-baseline - $grid-padding);
    }

    @media screen and (max-width: $screen-sm) {
      padding: 0;
    }

  }

  // .mdl-grid {}
  // .mdl-cell {}
}

.main-container {
  @include flex-grid;
  min-height: calc(100vh - #{$layout-desktop-header-height});
  // max-width: $container-max-width;

  @media screen and (max-width: $layout-screen-size-threshold) {
    min-height: calc(100vh - #{$layout-mobile-header-height});
  }
}
