// mdl fix

.mdl-layout__header {
  display: block !important;  // always visible
}

.mdl-textfield__input {
  border-width: 2px;
}

.mdl-layout__drawer-button {
  &:focus {
    outline: 0;
  }
}

.mdl-card {
  font-weight: inherit;
}
