// mdl fix

.mdl-layout__header {
  display: block !important;  // always visible
}

.mdl-textfield__input {
  border-width: 2px;
}

.mdl-layout__drawer-button {
  &:focus {
    outline: 0;
  }
}

.mdl-card {
  font-weight: inherit;
}

.mdl-layout__obfuscator {
  &.is-visible {
    background-color: rgba(255,255,255, 0.5);
  }
}

.mdl-color--transparent {
  background: transparent;
}
