
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin: 1.414rem 0 0.5rem;
  @extend .mdl-color-text--grey-800;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1,
h2,
h3 {
  margin-top: $spacer;
  margin-bottom: ($spacer / 2);

  small,
  .small {
    font-size: 65%;
  }
}
h4,
h5,
h6 {
  margin-top: ($spacer / 2);
  margin-bottom: ($spacer / 2);

  small,
  .small {
    font-size: 75%;
  }
}

h1 { font-size: $font-size-h1; margin-top: 0; }
h2 { font-size: $font-size-h2; }
h3 { font-size: $font-size-h3; }
h4 { font-size: $font-size-h4; }
h5 { font-size: $font-size-h5; }
h6 { font-size: $font-size-h6; }

pre {
  overflow: auto;
}

pre,
code {
  font-family: $font-family-monospace;
  font-feature-settings: "zero" 1;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}
