//
// Modular scale
// -------------------------
$base-size: 16px;
$modular-scale-base:  1rem;
$modular-scale-ratio: $major-second;


//
// Font
// -------------------------

$font-family-base:        "Open Sans", "Helvetica Neue", Helvetica, Arial, YuGothic, "Yu Gothic", "Noto Sans", "Hiragino Sans", Emoji, sans-serif !default;
$font-family-monospace:   "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace !default;

// MDL
$preferred_font:   $font-family-base;
$performance_font: $font-family-base;

$font-size-base:          $base-size;
$font-size-lg:            modular-scale(1);
$font-size-sm:            modular-scale(-1);

$font-size-h1:            modular-scale(4);
$font-size-h2:            modular-scale(3);
$font-size-h3:            modular-scale(2);
$font-size-h4:            modular-scale(1);
$font-size-h5:            modular-scale(0);
$font-size-h6:            modular-scale(-1);

$line-height-base:        1.75; // 28/16
$line-height-computed:    floor(($font-size-base * $line-height-base));


//
// Layout
// -------------------------

$spacer: 1rem;


//
// Colors
// -------------------------
// https://github.com/google/material-design-lite/blob/master/src/_color-definitions.scss

// MDL
$color-primary: $color-white;
$color-primary-dark: $palette-grey-700;
$color-accent: $palette-grey-200;
$color-primary-contrast: $palette-grey-700;
$color-accent-contrast: $palette-grey-700;

// original
$link-color:            unquote("rgb(#{$palette-blue-A200})");
$link-hover-color:      unquote("rgb(#{$palette-blue-A400})");
$link-border-color:     unquote("rgb(#{$palette-blue-100})");

$table-border-color:    unquote("rgb(#{$palette-grey-200})");
