// amazon product
.amazon-product {
  position: relative;
  margin: 1rem 0;
  padding: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  z-index: 0;

  &::before {
    @include position(absolute, -6px);
    background: inherit;
    content: "";
    z-index: -1;
    filter: blur(6px);
  }

  a {
    display: block;
    padding: 0;
    border: 0;
    color: $grey-600;

    &:focus {
      outline: 0;
    }
  }

  img {
    max-width: 10rem;
    max-height: 10rem;
    margin: auto;
  }
}

.amazon-title {
  display: block;
  color: $white;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4), -2px -2px 1px rgba(0, 0, 0, .08);
}
