.breadcrumb {
  margin-bottom: 1rem;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    padding: 0;
    color: $grey-400;
    font-size: $font-size-sm;
    list-style: none;
    word-wrap: break-word;
    @include clearfix;
  }

  li {
    float: left;
    &:not(:last-child) {
     margin-right: .5rem;
    }
  }
}

.breadcrumb-active {
  color: $grey-600;
}
