.breadcrumb {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: scroll;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    margin-bottom: 0;
    padding: 0;
    color: $grey-400;
    font-size: 0;
    list-style: none;
  }

  li {
    display: inline-flex;
    font-size: $font-size-sm;
    line-height: 1;
    vertical-align: middle;

    & + li {
      margin-left: .25rem;
      &::before {
        @extend .icon-keyboard_arrow_right;
      }
    }
  }

  .breadcrumb-active {
    color: $grey-600;
  }

  .icon-home,
  .icon-location_on {
    margin-right: .25rem;
  }

}
