.breadcrumb {
  margin-bottom: 1rem;
  line-height: 1.5rem;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ol {
    padding: 0;
    color: $grey-400;
    font-size: $font-size-sm;
    list-style: none;
  }

  li {
    display: inline-block;

    &:first-child::before {
      @extend .material-icons;
      content: 'home';
    }

    & + li {
      margin-left: .25rem;
      &::before {
        @extend .material-icons;
        content: 'keyboard_arrow_right';
      }
    }
  }

  .breadcrumb-active {
    color: $grey-600;

    &::before {
      @extend .material-icons;
      width: 2rem;
      content: 'keyboard_arrow_right' + 'location_on';
    }
  }

}
