.drawer-trigger {
  padding-left: 1rem;
  font-size: 1.25rem;

  &:hover {
    cursor: pointer;
  }
}

.open-drawer {
  @extend .no-scroll;

  .drawer {
    transform: translate(0, 0) translate3d(0, 0, 0);
    opacity: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .drawer-overlay {
    opacity: 1;
    visibility: visible;
  }
}

.drawer-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.drawer-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .2s ease, visibility .2s ease;
  background: rgba(0, 0, 0, .5);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
}

.drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  height: 100%;
  max-height: 100%;
  transform: translate(-100%, 0) translate3d(-100%, 0, 0);
  transition: transform .2s ease, opacity .2s ease;
  border-right: 1px solid rgba(0, 0, 0, .14);
  background: $white;
  opacity: 0;
  z-index: 2;
}

// .drawer[data-comes-from="top"] {
//   top: 0;
//   left: 0;
//   right: 0;
//   transform: translate(0, -100%) translate3d(0, -100%, 0);
// }

// .drawer[data-comes-from="bottom"] {
//   bottom: 0;
//   left: 0;
//   right: 0;
//   transform: translate(0, 100%) translate3d(0, 100%, 0);
// }

// .drawer[data-comes-from="right"] {
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: auto;
//   transform: translate(100%, 0) translate3d(100%, 0, 0);
// }
