.off-canvas-trigger {
  font-size: 1.25rem;
  padding: 1rem;
  &:hover {
    cursor: pointer;
  }
}

.open-drawer {
  @extend .no-scroll;

  .off-canvas {
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    transform: translate(0, 0) translate3d(0, 0, 0);
  }

  .off-canvas-overlay {
    opacity: 1;
    visibility: visible;
  }
}

.off-canvas-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 0;
  opacity: 0;
}

.off-canvas-overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease, visibility .2s ease;
  background: rgba(0, 0, 0, .5);
}

.off-canvas {
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0) translate3d(-100%, 0, 0);
  max-width: 33.3333%;
  padding: .75rem;
  background: $white;
  border-right: 1px solid rgba(0, 0, 0, .14);
}

// .off-canvas[data-comes-from="top"] {
//   top: 0;
//   left: 0;
//   right: 0;
//   transform: translate(0, -100%) translate3d(0, -100%, 0);
// }

// .off-canvas[data-comes-from="bottom"] {
//   bottom: 0;
//   left: 0;
//   right: 0;
//   transform: translate(0, 100%) translate3d(0, 100%, 0);
// }

// .off-canvas[data-comes-from="right"] {
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: auto;
//   transform: translate(100%, 0) translate3d(100%, 0, 0);
// }
