.entry-similar {
  border-top: 1px solid $grey-300;

  a {
    display: block;
  }

}

.similar-title,
.similar-description {
  display: block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.similar-title {
  color: $grey-800;
  font-weight: bold;
  line-height: 2;
}

.similar-description {
  color: $grey-500;
  font-size: $font-size-sm;
}
