.related {
  height: 15.5rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.entry-related {
  display: flex;
  overflow-x: scroll;

  a {
    display: block;
    width: 20rem;
    height: calc(20rem / 1.618);
    padding: .5rem 0;
    overflow: hidden;
  }

}

.related-heading {
  margin-top: 0;
  font-size: $font-size-h4;
}

.related-section {
  &:hover {
    .related-title {
      color: $blue-300;
    }
  }
  & + & {
    margin-left: 2rem;
  }
}

.related-title {
  display: block;
  max-width: 100%;
  margin-bottom: .5rem;
  transition: color .3s $animation-curve-fast-out-slow-in;
  color: $grey-800;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.related-description {
  color: $grey-500;
  font-size: $font-size-xs;
  overflow: hidden;
  word-break: break-all;
}
