// $twitter-color:     #55acee;
// $facebook-color:    #3b5998;
// $hatena-color:      #2c6ebd;
// $line-color:        #00c300;

.entry-share {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;

  a {
    color: $grey-800;
    font-size: 2rem;

    &:hover {
      color: inherit;
    }

    & + a {
      margin-left: 1rem;
    }
  }
}

.btn-twitter,
.btn-facebook,
.btn-hatena,
.btn-line {
  &:active {
    transform: scale(.95);
  }
}
