.entry-meta {
  color: $grey-400;
  font-size: $font-size-sm;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-bottom: 0;

    &:not(:first-child):not(:last-child) {
      margin-right: .5rem;
    }
  }

  & .entry-time,
  & .entry-category,
  & .entry-tag {
    margin-bottom: 0;
  }

}

.entry-tag {
  margin-bottom: 1rem;

  ul {
    padding-left: 0;
    font-size: $font-size-xs;
    line-height: 2rem;
    list-style: none;
    @include clearfix;
  }

  li {
    margin-right: .5rem;
    margin-bottom: .5rem;
    float: left;
  }

  a {
    padding: .5rem .7rem;
    border-radius: ($spacer * .125);
    background: $grey-100;
    color: $grey-700;
    &:hover {
      background: $grey-200;
      text-decoration: none !important;
    }
  }

}
