.entry-meta {
  font-size: $font-size-sm;
  color: unquote("rgb(#{$palette-grey-400})");

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  li {
    display: inline-block;
    margin-bottom: 0;

    &:not(:first-child):not(:last-child) {
      margin-right: .5rem;
    }
  }

  & .entry-time,
  & .entry-category,
  & .entry-tag {
    margin-bottom: 0;
  }

}

.entry-tag {
  font-size: $font-size-sm;
  list-style: none;
  line-height: 2rem;
  padding-left: 0;
  margin-bottom: 1rem;
  @include clearfix;

  li {
    float: left;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }
  a {
    padding: .5rem .7rem;
    border-radius: ($spacer * .125);
    color: unquote("rgb(#{$palette-grey-700})");
    background: unquote("rgb(#{$palette-grey-100})");
    &:hover {
      text-decoration: none !important;
      background: unquote("rgb(#{$palette-grey-200})");
    }
  }
}
