.entry-meta {
  color: $grey-400;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    font-size: 0;
    list-style: none;
    vertical-align: middle;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
    font-size: $font-size-sm;
    line-height: 1;

    & + li::before {
      @extend .icon-keyboard_arrow_right;
    }

  }

  & .entry-time,
  & .entry-category,
  & .entry-tag {
    margin-bottom: 0;
  }

}

// time
// .entry-time {}

// category
// .entry-category {}

// tag
.entry-tag {
  margin-bottom: 1rem;

  ul {
    padding-left: 0;
    font-size: $font-size-xs;
    line-height: 2rem;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .5rem;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    padding: .5rem .7rem;
    border-radius: ($spacer * .125);
    background: $grey-100;
    color: $grey-700;
    &:hover {
      background: $grey-200;
      text-decoration: none !important;
    }
  }

}
