.entry-related {
  display: flex;
  margin-bottom: 1rem;
  font-size: $font-size-sm;
  overflow-x: scroll;

  a {
    display: block;
    width: 20rem;
    height: calc(20rem / 1.618);
    padding: .5rem 1rem;
    overflow: hidden;
    &:hover {
      background: $grey-100;
    }
  }

}

.related-heading {
  font-size: $font-size-h3;
}

.related-container {
  & + & {
    margin-left: 1rem;
  }
}

.related-title {
  display: block;
  max-width: 100%;
  margin-bottom: .5rem;
  color: $grey-800;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.related-description {
  color: $grey-500;
  font-size: $font-size-sm;
  overflow: hidden;
  word-break: break-all;
}
