.entry-meta {
  color: $grey-400;
  font-size: $font-size-sm;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    line-height: 1.75rem;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
    font-size: $font-size-sm;

    // & + li {
    //   margin-left: .5rem;
    // }

    & + li::before {
      margin: 0 .25rem;
      font-family: 'Material Icons';
      line-height: 1;
      content: 'keyboard_arrow_right';
      vertical-align: middle;
    }

  }

  & .entry-time,
  & .entry-category,
  & .entry-tag {
    margin-bottom: 0;
  }

}

// time
.entry-time {
  li {
    &:first-child::before {
      margin-right: .25rem;
      font-family: 'Material Icons';
      line-height: 1;
      content: 'update';
      vertical-align: middle;
    }
  }
}

// category
.entry-category {
  li {
    &:first-child::before {
      margin-right: .25rem;
      font-family: 'Material Icons';
      line-height: 1;
      content: 'folder';
      vertical-align: middle;
    }
  }
}

// tag
.entry-tag {
  margin-bottom: 1rem;

  ul {
    padding-left: 0;
    font-size: $font-size-xs;
    line-height: 2rem;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-bottom: .5rem;
    + li {
      margin-left: .5rem;
    }
  }

  a {
    padding: .5rem .7rem;
    border-radius: ($spacer * .125);
    background: $grey-100;
    color: $grey-700;
    &:hover {
      background: $grey-200;
      text-decoration: none !important;
    }
  }

}
