.entry-meta {
  color: $grey-400;
  font-size: 0;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    font-size: 0;
    list-style: none;
  }

  li {
    display: inline-flex;
    margin-bottom: 0;
    font-size: $font-size-sm;
    line-height: 1;
    vertical-align: middle;

    & + li::before {
      @extend .icon-keyboard_arrow_right;
      margin: 0 .125rem;
    }

  }

  .entry-time,
  .entry-category,
  .entry-tag {
    margin-bottom: 0;
  }

  .icon-folder,
  .icon-update {
    margin-right: .25rem;
  }
}

// time
// .entry-time {}

// category
.entry-category {
  white-space: nowrap;
  overflow: scroll;
}

// tag
.entry-tag {
  margin-bottom: 1rem;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    font-size: $font-size-xs;
    line-height: 2rem;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    padding: .5rem .7rem;
    border-radius: $radius-sm;
    background: $grey-100;
    color: $grey-700;
    &:hover {
      background: $grey-200;
    }
  }

}
