.entry-meta {
  color: $grey-400;
  font-size: 0;

  a {
    color: inherit;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    font-size: 0;
    list-style: none;
  }

  li {
    display: inline-flex;
    margin-bottom: 0;
    font-size: $font-size-sm;
    line-height: 1;
    vertical-align: middle;

    & + li::before {
      content: "";
      display: inline-block;
      background: url('../images/icon/arrow_right.svg') no-repeat;
      background-size: 1rem;
      width: 1rem;
      height: 1rem;
      margin: 0 .125rem;
    }

  }

  .entry-time,
  .entry-category,
  .entry-tag {
    margin-bottom: 0;
  }

  .icon-folder,
  .icon-update {
    margin-right: .25rem;
  }
}

// time
// .entry-time {}

// category
.entry-category {
  white-space: nowrap;
  overflow: scroll;
}
