$twitter-color:     #55acee;
$facebook-color:    #3b5998;
$hatena-color:      #2c6ebd;
$line-color:        #00c300;
$share-base-color:  unquote("rgb(#{$palette-grey-300})");

.entry-share {
  list-style: none;
  padding: 1rem 0;
  text-align: center;

  li {
    display: inline-block;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.btn-twitter,
.btn-facebook,
.btn-hatena,
.btn-line {
  display: block;
  background-size: 80% 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  @include hide-text;
  @include size(40px);

  &:active {
    transform: scale(.95);
  }
}

.btn-twitter {
  background-image: url("../images/svg/twitter.svg");
}
.btn-facebook {
  background-image: url("../images/svg/facebook.svg");
}
.btn-hatena {
  background-image: url("../images/svg/hatena-bookmark.svg");
}
.btn-line {
  background-image: url("../images/svg/line.svg");
}
