.entry-similar {
  margin-bottom: 1rem;

  a {
    display: block;
    height: 100%;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: ($spacer * .125);
    background: $white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
    &:focus {
      outline: 0;
    }
  }

  .columns {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.smilar-container {
  overflow: hidden;

  &.column {
    padding-top: 0;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }

    @include mobile {
      padding: 0 0 .5rem 0;
    }
  }

}

.similar-title {
  margin-bottom: .5rem;
  color: $grey-800;
  font-weight: bold;
  @include ellipsis(100%);
}

.similar-description {
  color: $grey-500;
  font-size: $font-size-sm;
}
