.entry-related {
  display: flex;
  margin-bottom: 1rem;
  overflow-x: scroll;

  a {
    display: block;
    width: 360px;
    height: 222px;
    padding: 1rem 1.5rem;
    overflow: hidden;
  }

}

.related-container {
  border: 1px solid $grey-200;
  & + & {
    margin-left: .5rem;
  }
}

.related-title {
  display: block;
  max-width: 100%;
  margin-bottom: .5rem;
  color: $grey-800;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: normal;
}

.related-description {
  color: $grey-500;
  font-size: $font-size-sm;
  overflow: hidden;
  word-break: break-all;
}
