#mokuji-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mokuji-title {
  display: table-cell;
  width: 30%;
  padding-right: 3rem;
  font-size: $font-size-h3;
  font-weight: normal;
  white-space: nowrap;

  @media screen and (max-width: $screen-xs) {
    display: table-caption;
    width: 100%;
    margin-bottom: 1rem;
    padding-right: auto;
  }
}

.mokuji-content {
  display: table-cell;
  padding-left: 1rem;
  border-left: solid 3px $blue-100;

  ol {
    margin-bottom: 0;
    list-style: none;
    ol {
      margin-bottom: .5rem;
      padding-left: 1rem;
    }
  }

}

.mokuji_number {
  padding-right: .5rem;
  color: $grey-700;
}
