#mokuji-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mokuji-title {
  display: table-cell;
  padding-right: 3rem;
  white-space: nowrap;
  font-weight: normal;
  width: 30%;

  @media screen and (max-width: $screen-xs) {
    display: table-caption;
    padding-right: auto;
    margin-bottom: 1rem;
    width: 100%;
  }
}

.mokuji-content {
  display: table-cell;
  border-left: solid 3px $blue-100;
  padding-left: 1rem;

  ol {
    list-style: none;
    margin-bottom: 0;
    ol {
      margin-bottom: .5rem;
      padding-left: 1rem;
    }
  }

}

.mokuji_number {
  color: $grey-700;
  padding-right: .5rem;
}
