// pagination
.pagination-container {
  display: flex;
  justify-content: center;
  margin: ($spacer * 2) 0;
}

.pagination {
  padding-left: 0;

  li {
    display: inline;
    @media screen and (max-width: $screen-xs) {
      &:not(.pagination-frist):not(.pagination-next):not(.pagination-previous):not(.pagination-last):not(.pagination-active) {
        display: none;
      }
    }
  }

  a {
    transition: background .3s $animation-curve-fast-out-slow-in;
    &:hover {
      background: $grey-300;
    }
  }

  a,
  span {
    margin: 0 ($spacer / 4);
    padding: .75rem;
    border-radius: 2px;
    color: $grey-600;
    font-size: $font-size-sm;
    &:hover,
    &:focus {
      outline: 0;
    }
  }

}

.pagination-previous a {
  margin-right: $spacer;
}

.pagination-next a {
  margin-left: $spacer;
}

.pagination-active span {
  background: $grey-600;
  color: #fff;
  font-weight: bold;
  cursor: default;
}


// pager
.pager {
  margin-top: 1rem;

  a {
    padding: .5rem !important;
    transition: background .3s $animation-curve-fast-out-slow-in;
    border-radius: ($spacer * .125);
    color: $grey-600;

    &:hover {
      background: $grey-300;
    }
    &:focus {
      outline: 0;
    }

    &:only-child {
      flex-grow: 1;
    }
  }
}

.pager-previous {
  text-align: left;
  .pager-icon {
    float: left;
  }
  .pager-title {
    padding-left: 2rem;
  }
}
.pager-next {
  text-align: right;
  .pager-icon {
    float: right;
  }
  .pager-title {
    padding-right: 2rem;
  }
}

.pager-icon,
.pager-title,
.pager-instruct {
  display: block;
}
.pager-icon {
  width: 2rem;
  color: $grey-800;
  text-align: center;
}
.pager-instruct {
  color: $grey-500;
  font-weight: bold;
  text-transform: uppercase;
}
.pager-title {
  @include ellipsis(100%);
  font-size: $font-size-sm;
}
