.pager {
  height: 6rem;
  padding: 0 1rem;
  background: $grey-200;
}

.pager-container {
  display: flex;

  a {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 50%;
    padding: 1rem 0;

    &:only-child {
      flex-grow: 1;
    }
  }

  .pager-prev {
    text-align: left;
    .pager-icon {
      margin-right: .5rem;
    }
    .pager-title {
      margin-left: 1.5rem;
    }
  }

  .pager-next {
    text-align: right;
    .pager-icon {
      margin-left: .5rem;
    }
    .pager-title {
      margin-right: 1.5rem;
    }
  }

  .pager-icon {
    color: $grey-800;
    font-size: $font-size-sm;
  }

  .pager-label {
    color: $grey-400;
    text-transform: capitalize;
  }

  .pager-title {
    color: $grey-600;
    @include ellipsis(100%);
  }

}
