.pager {
  display: flex;
  margin-bottom: 1rem;
  font-size: $font-size-sm;

  a {
    display: flex;
    flex: none;
    flex-direction: column;
    width: 50%;
    padding: .5rem;
    border-radius: .125rem;
    color: $grey-500;

    &:hover {
      background: $grey-100;
    }

    &:only-child {
      flex-grow: 1;
    }
  }

  .pager-prev {
    text-align: left;
    .pager-icon {
      margin-right: .5rem;
    }
    .pager-title {
      margin-left: 1.5rem;
    }
  }

  .pager-next {
    text-align: right;
    .pager-icon {
      margin-left: .5rem;
    }
    .pager-title {
      margin-right: 1.5rem;
    }
  }

  .pager-icon {
    color: $grey-800;
  }

  .pager-label {
    font-weight: bold;
    text-transform: uppercase;
  }

  .pager-title {
    @include ellipsis(100%);
  }

}
