// pager
.pager {
  margin-bottom: 1rem;

  a {
    border-radius: ($spacer * .125);
    color: $grey-500;

    &:hover {
      background: $grey-200;
    }
    &:only-child {
      flex-grow: 1;
    }
  }

  .pager-previous,
  .pager-next {
    &.column {
      padding: .5rem;
    }
  }

}

.pager-previous {
  text-align: left;
  .pager-icon {
    float: left;
  }
  .pager-title {
    padding-left: 2rem;
  }
}
.pager-next {
  text-align: right;
  .pager-icon {
    float: right;
  }
  .pager-title {
    padding-right: 2rem;
  }
}

.pager-icon,
.pager-title,
.pager-instruct {
  display: block;
}
.pager-icon {
  width: 2rem;
  color: $grey-800;
  text-align: center;
}
.pager-instruct {
  color: $grey-500;
  font-weight: bold;
  text-transform: uppercase;
}
.pager-title {
  @include ellipsis(100%);
  font-size: $font-size-sm;
}
