.sandbox {
  position: relative;
  padding: 2rem;
  border: .15rem solid $grey-100; // same: pre bgColor

  // proximity
  & + pre {
    margin-top: -(2rem + .15rem) !important;  // parent margin-bottom - sandbox border-width
    padding: 2rem;
  }

}
