.search-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 .5rem;
  padding: .5rem 0;

  label {
    display: none;
  }
}

.search-icon {
  display: inline-block;
  width: 2rem;
  color: $grey-700;
  text-align: center;
}

.search-input {
  width: 100%;
  margin-left: .25rem;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  color: $grey-800;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
