.showIn {
  animation: showIn 0.3s $animation-curve-fast-out-slow-in forwards;
}

@keyframes showIn {
  from {
    transform: scale(0);
    visibility: visible;
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}
