// YuGothic font
@font-face {
  font-family: "YuGoMedium";
  font-weight: normal;
  src: local("YuGothic-Medium"),
       local("Yu Gothic Medium");
}

@font-face {
  font-family: "YuGoMedium";
  font-weight: bold;
  src: local("YuGothic-Bold"),
       local("Yu Gothic");
}


// icon font
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.woff2") format('woff2'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.woff") format('woff'),
       url("~material-design-icons/iconfont/MaterialIcons-Regular.ttf") format('truetype');
}
.material-icons {
  @include user-select(none);
  @include size(1rem);

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  font-size: 1rem;
  color: inherit;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  // Support for Safari and Chrome
  text-rendering: optimizeLegibility;

  // Support for Firefox
  -moz-osx-font-smoothing: grayscale;

  // Rules for sizing the icon.
  .md-18 {
    font-size: 18px;
  }
  .md-24 {
    font-size: 24px;
  }
  .md-36 {
    font-size: 36px;
  }
  .md-48 {
    font-size: 48px;
  }

  // Rules for using icons as black on a light background.
  .md-dark {
    color: rgba(0, 0, 0, 0.54);
    .md-inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }

  // Rules for using icons as white on a dark background.
  .md-light {
    color: rgba(255, 255, 255, 1);
    .md-inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}


// Emoji
// @link https://hail2u.net/blog/webdesign/emoji-shotcut-family.html
@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji'),
       local('Gecko Emoji'),
       local('Noto Sans Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Sans Symbols');
}
