// subset -apple-system
@font-face {
  font-family: "-apple-system-subset";
  src: local(-apple-system);
  unicode-range: U+0000-05C7;
}

// Emoji
// @link https://hail2u.net/blog/webdesign/emoji-shotcut-family.html
@font-face {
  font-family: 'Emoji';
  src: local('Apple Color Emoji'),
       local('Gecko Emoji'),
       local('Noto Sans Emoji'),
       local('Segoe UI Emoji'),
       local('Segoe UI Symbol'),
       local('Noto Sans Symbols');
}

// YakuHanJPs
@font-face {
  font-family: YakuHanJP;
  font-weight: normal;
  font-display: optional;
  src: url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-DemiLight.woff2?ver=1.4.0") format("woff2"),
       url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-DemiLight.woff?ver=1.4.0") format("woff");
}

@font-face {
  font-family: YakuHanJP;
  font-weight: bold;
  font-display: optional;
  src: url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-Bold.woff2?ver=1.4.0") format("woff2"),
       url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-Bold.woff?ver=1.4.0") format("woff");
}

// Noto Sans Japanese
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: normal;
  font-display: optional;
  src: local("Noto Sans CJK JP DemiLight"),
       local("NotoSansCJKjp-DemiLight"),
       url("../fonts/NotoSansCJKjp-DemiLight.woff2?ver=1.4.0") format("woff2"),
       url("../fonts/NotoSansCJKjp-DemiLight.woff?ver=1.4.0") format("woff");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: bold;
  font-display: optional;
  src: local("Noto Sans CJK JP Bold"),
       local("NotoSansCJKjp-Bold"),
       url("../fonts/NotoSansCJKjp-Bold.woff2?ver=1.4.0") format("woff2"),
       url("../fonts/NotoSansCJKjp-Bold.woff?ver=1.4.0") format("woff");
}

// icon font
@font-face {
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/icon.ttf') format('truetype'),
       url('../fonts/icon.woff') format('woff'),
       url('../fonts/icon.svg#icon') format('svg');
}

.icon-keyboard_arrow_right {
  width: 1rem;
  height: 1rem;
  color: inherit;
  font-family: 'icon';
  font-size: inherit;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1rem;
  text-align: center;
  text-rendering: optimizeLegibility;
  text-transform: none;
  vertical-align: middle;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  font-feature-settings: 'liga';
}

.icon-keyboard_arrow_right {
  &::before {
    content: "\e907";
  }
}
