$entry-thumbnail-size: 5rem;//80px;

.page-header {
  margin: 0;
  padding: 1rem;
  font-size: $font-size-h4;
  font-weight: normal;
  border-bottom: 1px solid $grey-300;
}

.entry-home-container {
  border-radius: ($spacer * .125);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  overflow: hidden;
  background: #fff;
}

// Image
.entry-home {
  transition: background .3s $animation-curve-fast-out-slow-in;
  border-bottom: 1px solid $grey-200;
  user-select: none;

  &:hover {
    cursor: pointer;
    background: $grey-100;
    .entry-home-image-sheet {
      transform: scale(1.15);
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  a {
    display: block;
    color: inherit;
    padding: 1rem;
    // for display:table
    border-collapse: separate;
    border-spacing: 1rem 0;
    &:focus {
      outline: 0;
    }
  }

}

.entry-home-image,
.entry-home-body {
  display: table-cell;
  vertical-align: top;
}

.entry-home-image-frame {
  @include size($entry-thumbnail-size);
  border-radius: ($spacer * .125);
  overflow: hidden;
  border: 1px solid $grey-200;

  &.none {
    .material-icons {
      font-size: 2rem;
      @include size(2rem);
      color: $grey-400;
    }
  }

}

.entry-home-image-sheet {
  text-align: center;
  line-height: $entry-thumbnail-size;
  @include size($entry-thumbnail-size);
  max-height: $entry-thumbnail-size;
  background: $grey-50 50% no-repeat;
  background-size: cover;
  transition: transform .2s cubic-bezier(.08, .82, .17, 1);
}

// Text
.entry-home-body {
  width: 100%;
  height: ($entry-thumbnail-size * 1.2);
}
.entry-home-title {
  font-weight: normal;
  font-size: $font-size-h3;
  margin: 0 0 .5rem;
  word-wrap: break-word;
}
.entry-home-summary {
  color: $grey-600;
  font-size: $font-size-sm;
  text-align: justify;
}
.entry-home-footer {
  display: table;
  width: 100%;
  text-align: right;
}
