$entry-thumbnail-size: 5rem;  // 80px;

.page-header {
  margin: 0 0 1rem 0;
  font-size: $font-size-lg;

  @include mobile {
    padding-left: 1rem;
  }
}

.entry-home {
  overflow: hidden;

  a {
    display: block;
    padding: .5rem 0;
    color: inherit;
    border-spacing: 1rem;  // for display:table
  }

  .entry-image,
  .entry-body {
    display: table-cell;
    vertical-align: top;
    @include mobile {
      vertical-align: middle;
    }
  }

  .entry {
    &-container {
      cursor: pointer;
      user-select: none;

      & + .entry-container {
        border-top: 1px solid $grey-200;
      }

      &:hover {
        .entry-title {
          color: $blue-300;
        }
        .image-sheet {
          transform: scale(1.15);
        }
      }
    }

    &-body {
      width: 100%;
      height: $entry-thumbnail-size + 1rem;
      @include mobile {
        height: auto;
      }
    }

    &-title {
      margin: 0 0 .5rem 0;
      transition: color .3s $animation-curve-fast-out-slow-in;
      font-size: $font-size-h4;
      line-height: 1.75rem;
    }

    &-summary {
      margin-bottom: .5rem;
      color: $grey-600;
      font-size: $font-size-sm;
      text-align: justify;
      word-break: break-all;
      @include mobile {
        display: none;
      }
    }
  }

  .entry-meta {
    text-align: right;
    @include mobile {
      text-align: left;
    }
  }
}

// image
.image-container {
  @include size($entry-thumbnail-size);
  border-radius: .125rem;
  box-shadow: 0 0 0 1px $grey-200;
  overflow: hidden;

  .material-icons {
    color: $grey-400;
    font-size: 2rem;
    @include size(2rem);
  }
}

.image-sheet {
  max-height: $entry-thumbnail-size;
  transition: transform .2s cubic-bezier(.08, .82, .17, 1);
  background: $grey-50 50% no-repeat;
  background-size: cover;
  line-height: $entry-thumbnail-size;
  text-align: center;
  @include size($entry-thumbnail-size);
}
