$entry-thumbnail-size: 5rem;  // 80px;

.page-header {
  margin: 0 0 1rem 0;
  font-size: $font-size-lg;
}

.entry-list {
  overflow: hidden;

  a {
    display: block;
    padding: 1rem 0;
    color: inherit;
    & + a {
      border-top: 1px solid $grey-200;
    }
  }

  .entry {
    &-container {
      display: flex;

      &:hover {
        .entry-title {
          color: $blue-300;
        }
      }
    }

    &-image,
    &-body {
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 1;
    }

    &-image {
      flex: none;
      width: $entry-thumbnail-size;
      margin-right: 1rem;
    }

    &-body {
      flex-direction: column;
      justify-content: space-between;
      min-width: 0; // for flex and text-overflow
    }


    &-title,
    &-summary {
      margin: 0 0 .5rem 0;
      @include text-overflow;
    }

    &-title {
      transition: color .3s $animation-curve-fast-out-slow-in;
      font-size: $font-size-h3;
      font-weight: normal;
    }

    &-summary {
      color: $grey-600;
      font-size: $font-size-sm;
      word-break: break-all;
    }
  }

  .entry-meta {
    text-align: right;
  }
}

// image
.entry-image {
  .image-container {
    width: $entry-thumbnail-size;
    height: $entry-thumbnail-size;
    border: 1px solid $grey-200;
    overflow: hidden;
  }

  .image-sheet {
    width: $entry-thumbnail-size;
    height: $entry-thumbnail-size;
    background: $grey-50 50% no-repeat;
    background-image: url('../images/no-image.png');
    background-size: cover;
  }
}
