$entry-thumbnail-size: 5rem;//80px;

.page-header {
  margin: 0 0 0 1rem;
  padding: 1rem 0;
  font-size: $font-size-h3;
  font-weight: normal;
}

.entry-home {
  margin: 0 1rem 1rem;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: ($spacer * .125);
  background: $white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  overflow: hidden;

  a {
    display: block;
    padding: .5rem 0;
    color: inherit;
    border-spacing: 1rem;  // for display:table
    &:focus {
      outline: 0;
    }
  }

  .entry-image,
  .entry-home-body {
    display: table-cell;
    vertical-align: top;
  }

  &-container {
    transition: background .3s $animation-curve-fast-out-slow-in;
    border-bottom: 1px solid $grey-200;
    user-select: none;

    &:hover {
      background: $grey-50;
      cursor: pointer;
      .image-sheet {
        transform: scale(1.15);
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &-body {
    width: 100%;
    height: ($entry-thumbnail-size * 1.2);
  }

  &-title {
    margin: 0 0 .5rem 0;
    font-size: $font-size-h3;
    font-weight: normal;
    word-wrap: break-word;
  }

  &-summary {
    margin-bottom: .5rem;
    color: $grey-600;
    font-size: $font-size-sm;
    text-align: justify;
  }

  .entry-meta {
    text-align: right;
  }
}

// image
.image-container {
  @include size($entry-thumbnail-size);
  border: 1px solid $grey-200;
  border-radius: ($spacer * .125);
  overflow: hidden;

  .material-icons {
    color: $grey-400;
    font-size: 2rem;
    @include size(2rem);
  }
}

.image-sheet {
  max-height: $entry-thumbnail-size;
  transition: transform .2s cubic-bezier(.08, .82, .17, 1);
  background: $grey-50 50% no-repeat;
  background-size: cover;
  line-height: $entry-thumbnail-size;
  text-align: center;
  @include size($entry-thumbnail-size);
}
