$entry-thumbnail-size: 5rem;  // 80px;

.page-header {
  margin: 0 0 1rem 0;
  font-size: $font-size-lg;
}

.entry-list {
  overflow: hidden;

  a {
    display: block;
    padding: 1rem 0;
    color: inherit;
    & + a {
      border-top: 1px solid $grey-200;
    }
  }

  .entry {
    &-container {
      display: flex;

      &:hover {
        .entry-title {
          color: $blue-300;
        }
      }
    }

    &-image {
      flex-basis: $entry-thumbnail-size;
      margin-right: 1rem;
    }

    &-body {
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 1;
    }

    &-title {
      margin: 0 0 .5rem 0;
      transition: color .3s $animation-curve-fast-out-slow-in;
      font-size: $font-size-h4;
    }

    &-summary {
      margin-bottom: .5rem;
      color: $grey-600;
      font-size: $font-size-sm;
      word-break: break-all;
    }
  }

  .entry-meta {
    text-align: right;
  }
}

// image
.image-container {
  @include size($entry-thumbnail-size);
  border: 1px solid $grey-200;
  overflow: hidden;
}

.image-sheet {
  max-height: $entry-thumbnail-size;
  background: $grey-50 50% no-repeat;
  background-image: url('../images/no-image.png');
  background-size: cover;
  @include size($entry-thumbnail-size);
}
