.entry {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0, 0, 0, .09);
  border-radius: ($spacer * .125);
  background: $white;
  color: $grey-700;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);

  > header {
    margin-bottom: 1rem;
  }

  > footer {
    *:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    margin: ($spacer / 2) auto;
    font-weight: normal;
    word-wrap: break-word;
  }

}

.entry-content {
  margin-bottom: 1rem;

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid $link-border-color;
    color: $link-color;

    &:hover {
      border-color: $link-color;
    }
    &:focus {
      outline: thin dotted;
      outline-offset: -2px;
    }
  }

  > h2 {
    margin: 4rem 0 1rem;
    padding-bottom: .75rem;
    border-bottom: 2px solid $grey-200;
  }

  > h3 {
    margin: 2rem 0 .5rem;
  }

  > p,
  > pre,
  > blockquote,
  > ul,
  > ol,
  > dl,
  > table,
  figure,
  img,
  div {
    margin-bottom: 2rem;
  }

  > p {
    text-align: justify;
  }

  *:not(pre) > code {
    margin: 0;
    padding: .2rem 0;
    border-radius: .15rem;
    background: $blue-50;
    color: $blue-400;
    font-size: $font-size-sm;
    line-height: 2;

    &:before,
    &:after {
      letter-spacing: -.2rem;
      content: "\00a0";
    }
  }

  li + li {
    margin-top: .25rem;
  }

  > blockquote {
    margin-left: .8em;
    padding: 1.6rem;
    border-left: 4px solid $grey-200;
    color: $grey-500;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    small,
    footer {
      display: block;
      margin-top: 1.8rem !important;
      font-size: $font-size-sm;
      text-align: right;
    }
  }

  > pre {
    padding: 2rem;
    border-radius: ($spacer * .15);
    background: $grey-100;

    &.line-numbers {
      padding-left: 4rem;
    }
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  > hr {
    height: 2rem;
    margin: 2rem 0;
    border: 0;
    color: $grey-600;
    font-size: $font-size-h2;
    line-height: 1;
    text-align: center;

    &:before {
      content: "***";
    }
  }

}

// amazon
.amazon-product {
  display: block;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, .09) !important;
  background: $grey-50;
  color: $grey-600 !important;

  &:focus {
    outline: 0;
  }
  img {
    max-height: 10rem;
  }
}
.amazon-title,
.amazon-author,
.amazon-date {
  display: block;
}
.amazon-title {
  font-size: $font-size-lg;
  font-weight: bold;
  line-height: 2;
}
