.entry {
  padding: 1rem 1.5rem;
  border-radius: ($spacer * .125);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
  border: 1px solid rgba(0, 0, 0, .09);
  color: unquote("rgb(#{$palette-grey-700})");
  background: #fff;

  // &.mdl-cell {
  //   margin: 0;
  // }

  > header {
    margin-bottom: 2rem;
  }

  h1 {
    font-weight: normal;
    line-height: 1.3;
    word-wrap: break-word;
    margin: ($spacer / 2) auto;
  }

}

.entry-content {
  a {
    color: $link-color;
    border-bottom: 1px solid $link-border-color;
    padding-bottom: 1px;

    &:hover {
      border-color: $link-color;
    }
  }

  h2,
  h3 {
    line-height: 1.3;
    margin-top: 2rem;
  }

  p,
  pre,
  > blockquote,
  > ul,
  > ol,
  dl,
  > figure,
  > table,
  form,
  > img,
  > div {
    margin-bottom: 2rem;
  }

  p {
    text-align: justify;
  }

  *:not(pre) > code {
    font-size: $font-size-sm;
    line-height: 2;
    margin: 0;
    padding: .2rem 0;
    border-radius: .15rem;
    color: unquote("rgb(#{$palette-blue-400})");
    background: unquote("rgb(#{$palette-blue-50})");

    &:before,
    &:after {
      letter-spacing: -.2rem;
      content: "\00a0";
    }
  }

  li + li {
    margin-top: .25rem;
  }

  blockquote {
    padding: 1.6rem;
    margin-left: .8em;
    border-left: 4px solid unquote("rgb(#{$palette-grey-200})");
    color: unquote("rgb(#{$palette-grey-500})");

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    small,
    footer {
      display: block;
      font-size: $font-size-sm;
      margin-top: 1.8rem !important;
      text-align: right;
    }
  }

  pre {
    padding: 2rem;
    border-radius: ($spacer * .15);
    background: unquote("rgb(#{$palette-grey-100})");

    &.line-numbers {
      padding-left: 4rem;
    }
  }

  table {
    $table-border-width: 1px;

    width: 100%;
    max-width: 100%;
    border: $table-border-width solid $table-border-color;

    th, td {
      vertical-align: top;
      padding: 1rem;
      border-top: $table-border-width solid $table-border-color;
      border: $table-border-width solid $table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }

    thead {
      th {
        color: unquote("rgb(#{$palette-grey-800})");
        background: unquote("rgb(#{$palette-grey-100})");
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
      }
      th, td {
        border-bottom-width: (2 * $table-border-width);
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  > hr {
    border: 0;
    font-size: $font-size-h2;
    height: 2rem;
    line-height: 1;
    margin: 2rem 0;
    text-align: center;
    color: unquote("rgb(#{$palette-grey-600})");

    &:before {
      content: "***";
    }
  }

}

// amazon
.amazon-product {
  display: block;
  margin: 1rem 0;
  border: 1px solid rgba(0, 0, 0, .09) !important;
  color: unquote("rgb(#{$palette-grey-600})") !important;
  background: unquote("rgb(#{$palette-grey-50})");

  &:focus {
    outline: 0;
  }
  img {
    max-height: 10rem;
  }
}
.amazon-title,
.amazon-author,
.amazon-date {
  display: block;
}
.amazon-title {
  font-size: $font-size-lg;
  font-weight: bold;
  line-height: 2;
}


.amazlet-image img {
  max-height: 10rem;
}
.amazlet-name {
  line-height: 2 !important;
}
.amazlet-detail,
.amazlet-powered-date,
.amazlet-sub-info {
  display: none;
}
