.footer-navigation {
  padding: 2rem 0;
  background: $grey-300;
  color: $grey-600;

  .container {
    display: flex;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }

  a {
    color: $grey-500;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.footer-menu ,
.footer-copytight {
  display: flex;
  flex: 1;
  justify-content: center;
}

.footer-menu {
  justify-content: flex-start;
}

.footer-copytight {
  justify-content: flex-end;
}
