.header-navigation {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);

  .material-icons {
    color: $grey-800;
  }
}

.header-title {
  color: $grey-900;
}

@media screen and (max-width: $screen-xs) {
  .header-search {
    display: none;
  }
}
