.header-navigation {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);

  .brand {
    @extend .mdl-color-text--grey-900;
  }

  .header-search {
    @media screen and (max-width: $screen-xs) {
        display: none;
    }
  }

  .mdl-textfield {
    padding: .5rem 0;
  }

  .mdl-button:hover {
    background: none;
  }

}
