.header-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: $header-nav-height;
  background: $white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .15);
}

.header-title {
  color: $grey-900;
  font-size: 1.25rem;
  a {
    color: inherit;
  }
}

.nav-item {
  padding: 0 1rem;
}
