.header-navigation {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  flex-wrap: wrap;
  align-items: center;
  height: $header-nav-height;
  background: $white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .25);
  z-index: 10;

  > .container {
    display: flex;
    align-items: stretch;
    width: 100%;
  }
}

.header-title,
.header-menu {
  display: flex;
  flex: 1;
  align-items: stretch;
}

.header-title {
  justify-content: flex-start;
  max-width: 100%;
  color: $grey-900;
  font-size: 1rem;
  white-space: nowrap;
  overflow: auto;
  a {
    color: inherit;
  }
}

.header-menu {
  justify-content: flex-end;
  margin: auto;
}
