.header-navigation {
  background: $color-white;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.24);
  line-height: 1;
  @extend .mdl-color--white;

  .brand {
    @extend .mdl-color-text--grey-900;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }

}
