.header-navigation {
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.24);
  line-height: 1;
  @extend .mdl-color--white;

  .mdl-layout-title {
    font-size: $font-size-lg;

    & + .section-title:before {
      content: "-";
      padding: 0 .5rem;
    }

  }
  .brand {
    @extend .mdl-color-text--grey-800;
    &:hover {
      text-decoration: none;
    }
    &:focus {
      outline: none;
    }
  }

  .section-title {
    width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    h1 {
      display: inline;
      font-size: $font-size-lg;
      font-weight: normal;
      @extend .mdl-color-text--grey-700;
    }
  }

}
