.card-container {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;

  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);

    .entry-title a {
      color: $link-hover-color;
    }
  }

  .mdl-card__title,
  .mdl-card__supporting-text,
  .mdl-card__actions {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  > *:first-child {
    padding-bottom: 0;
  }
  > *:last-child {
    padding-top: 0;
  }

  .entry-title a {
    color: inherit;
    font-size: $font-size-h2;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;

    &:focus {
      outline: 0;
    }
  }

  .entry-summary {
    overflow: hidden;
    line-height: 1.75;
    text-align: justify;
  }

}
