.article-container {
  padding-bottom: 1rem;
  border-radius: ($spacer * .125);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
  overflow: hidden;
  @extend .mdl-color--white;

  h1 {
    margin: 0;
    padding: 1rem;
    font-size: $font-size-h2;
    font-weight: normal;
    border-bottom: 1px solid unquote("rgb(#{$palette-grey-300})");
  }

  .entry-wrap {
    padding: 1rem;
    transition: background .3s;

    a {
      color: inherit;
      // for display:table
      border-collapse: separate;
      border-spacing: 1rem 0;
      &:focus {
        outline: 0;
      }
    }

    &:hover {
      cursor: pointer;
      @extend .mdl-color--grey-200;
      .entry-image-sheet {
        transform: scale(1.15);
      }
    }
  }

  .entry-image,
  .entry-body {
    display: table-cell;
    vertical-align: top;
  }

  .entry-image {
    @include size(80px);
    border-radius: ($spacer * .125);
    overflow: hidden;

    .entry-image-none {
      text-align: center;
      line-height: 80px;
      border: 1px solid unquote("rgb(#{$palette-grey-300})");
      > .material-icons {
        font-size: 2rem;
        @include size(2rem);
        @extend .mdl-color-text--grey-300;
      }
    }
  }
  .entry-image-sheet {
    width: inherit;
    height: inherit;
    background: unquote("rgb(#{$palette-grey-50})") 50% no-repeat;
    background-size: cover;
    transition: transform .2s cubic-bezier(.165, .84, .44, 1);
  }

  // .entry-header {}
  .entry-title {
    color: inherit;
    font-weight: normal;
    font-size: $font-size-h3;
    margin: 0 0 .5rem;
  }
  .entry-summary {
    font-size: $font-size-sm;
    @extend .mdl-color-text--grey-600;
  }
  .entry-footer {
    text-align: right;
  }

}
