.card-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  cursor: pointer;
  transition: all .3s ease;
  will-change: animation, transform;

  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    .entry-image-sheet {
      transform: scale(1.15);
    }
    .entry-title {
      color: $link-hover-color;
    }
  }

  .entry-wrap {  // <a>
    max-height: 23rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    &:active,
    &:focus {
      outline: 0;
    }

    > *:first-child {
      padding-bottom: 0;
    }
    > *:last-child {
      padding-top: 0;
      padding-bottom: 1rem;
    }

  }

  .mdl-card__title,
  .mdl-card__supporting-text,
  .mdl-card__actions {
    width: 100%;
  }

  // Thumbnail Image
  .entry-image {
    width: 100%;
    height: 12rem;
    overflow: hidden;

    .entry-image-none {
      display: table;
      text-align: center;
      height: 100%;
      width: 100%;
      > .material-icons {
        font-size: 6rem;
        display: table-cell;
        vertical-align: middle;
        color: unquote("rgb(#{$palette-grey-300})");
      }
    }
  }
  .entry-image-sheet {
    height: inherit;
    background: unquote("rgb(#{$palette-grey-50})") 50% no-repeat;
    background-size: cover;
    transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  // Entry Title
  .mdl-card__title {
    padding-bottom: 0;
  }
  .entry-title {
    font-weight: normal;
    color: inherit;
    font-size: $font-size-h3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }

  // Entry Excerpt
  .entry-summary {
    font-size: $font-size-sm;
    line-height: 1.75;
    text-align: justify;
    height: 6rem;
    overflow: hidden;
  }

}
