// nav min-height from bulma = 3.5rem
// for header's position:fixed
.main-container {
  $bulma-nav-height: 3.5rem;
  min-height: calc(100vh - #{$bulma-nav-height});  // for footer
  padding-top: $bulma-nav-height + 1.5rem;  // for header
}
