.entry {
  padding: 1rem 1.5rem;
  border-radius: ($spacer * .125);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12);
  @extend .mdl-color--white, .mdl-color-text--grey-600;

  h1 {
    line-height: 2rem;
    margin: ($spacer / 2) auto;
  }

  a {
    color: $link-color;
    border-bottom: 1px solid $link-border-color;
    padding: 0 0 1px 0;

    &:hover {
      border-color: $link-color;
    }
  }

  p, pre, blockquote, ul, ol, dl, figure, table, form, img, div {
    margin: 0 0 1.7rem;
  }

  p > code {
    @extend .mdl-color--blue-50, .mdl-color-text--blue-A200;
    border-radius: ($spacer * .125);
    padding: .2rem .4rem;
    line-height: 2;
  }

  blockquote {
    // position: relative;
    padding: .8rem;
    margin-left: .8em;
    border-left: 4px solid unquote("rgb(#{$palette-grey-200})");
    @extend .mdl-color-text--grey-700;

    // &:before {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   content: '"';
    //   font-family: emoji;
    //   font-size: 2rem;
    //   line-height: 1rem;
    // }

    > *:first-child,
    > *:last-child {
        margin-bottom: 0;
    }

    small,
    footer {
      display: block;
      font-size: $font-size-sm;
      margin-top: 1.7rem !important;
      text-align: right;
    }
  }

  pre {
    @extend .mdl-color--grey-100;
    padding: 2rem;
    border-radius: ($spacer * .15);

    &.line-numbers {
      padding-left: 4rem;
    }
  }

  table {
    $table-border-width: 1px;

    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    border: $table-border-width solid $table-border-color;

    th, td {
      vertical-align: top;
      padding: 1rem;
      border-top: $table-border-width solid $table-border-color;
      border: $table-border-width solid $table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }

    thead {
      th {
        @extend .mdl-color--grey-100, .mdl-color-text--grey-800;
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
      }
      th, td {
        border-bottom-width: (2 * $table-border-width);
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
  }

  hr {
    border: 0;
    font-size: $font-size-h2;
    height: 2rem;
    line-height: 1;
    margin: 2rem 0;
    text-align: center;

    &:before {
      font-family: emoji;
      content:"***";
    }
  }



}

.archive-list {
  padding: 0;
  li {
    display: inline;
    margin-right: 1rem;
    white-space: nowrap;
  }
}

// amazlet
.amazlet-image img {
  max-height: 10rem;
}
.amazlet-name {
  line-height: 2 !important;
}
.amazlet-detail,
.amazlet-powered-date,
.amazlet-sub-info {
  display: none;
}
