// widget
.sidebar {
  ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
    @extend .mdl-navigation;
    a {
      transition: background .3s $animation-curve-default;
      @extend .mdl-navigation__link;
    }
  }
}
.widget-title {
  padding-left: .5rem;
  margin-bottom: 0;
}

.widget_categories {
  ul.children {
    a {
      padding-left: 2rem;
    }
    .children a {
      padding-left: 3rem;
    }
  }
}
