// widget
.sidebar {
  ul {
    list-style: none;
    margin-top: 0;
    padding: 0;
  }
}

.widget-title {
  padding-left: .5rem;
}

.widget_categories,
.widget_recent_entries,
.jetpack-post-views {
  a {
    transition: background .3s $animation-curve-default;
    @extend .mdl-navigation__link;
  }
  @extend .mdl-navigation;
}

.widget_categories {
  ul.children {
    a {
      padding-left: 2rem;
    }
    .children a {
      padding-left: 3rem;
    }
  }
}
