// widget
.sidebar {
  padding: .5rem 0;

  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;
    padding: 1rem 1.5rem;
    transition: background .3s $animation-curve-fast-out-slow-in;
    color: $grey-600;
    font-size: $font-size-sm;
    &:hover {
      background: $grey-300;
    }
  }
}

.widget-title {
  margin-bottom: .5rem;
  padding: 0 0 0 .75rem;
}

.widget_categories {
  ul.children {
    a {
      padding-left: 2rem;
    }
    .children a {
      padding-left: 3rem;
    }
  }
}
