$twitter-color:     #55acee;
$facebook-color:    #3b5998;
$hatena-color:      #2c6ebd;
$line-color:        #00c300;
$share-base-color:  unquote("rgb(#{$palette-grey-300})");

.entry-share {
  list-style: none;
  padding: 0;
  text-align: center;

  a {
    border: 0 !important;
  }

  > li {
    display: inline-block;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}

.btn-twitter,
.btn-facebook,
.btn-hatena,
.btn-line {
  display: block;
  border-radius: 2px;
  background-size: 80% 80%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background .3s;
  @include hide-text;
  @include size(40px);

  &:active {
    transform: scale(.95);
  }
}

.btn-twitter {
  background-image: url("../images/svg/twitter.svg");
  background-color: $share-base-color;

  &:hover {
    background-color: $twitter-color;
  }
}
.btn-facebook {
  background-image: url("../images/svg/facebook.svg");
  background-color: $share-base-color;

  &:hover {
    background-color: $facebook-color;
  }
}
.btn-hatena {
  background-image: url("../images/svg/hatena-bookmark.svg");
  background-color: $share-base-color;

  &:hover {
    background-color: $hatena-color;
  }
}
.btn-line {
  background-image: url("../images/svg/line.svg");
  background-color: $share-base-color;

  &:hover {
    background-color: $line-color;
  }
}
