.entry-meta {
  font-size: $font-size-sm;
  @extend .mdl-color-text--grey-400;

  ul {
    list-style: none;
    padding-left: 0;

    > li {
      display: inline-block;
      margin-bottom: 0;

      &:not(:first-child):not(:last-child) {
        margin-right: .5rem;
      }
      a {
        color: inherit;
        border: 0;
        &:hover {
          text-decoration: underline;
        }
      }

    }
  }

  .entry-tag {
    line-height: 2;
    margin-left: 1rem;
    a {
      padding: .2rem .4rem;
      border-radius: ($spacer * .125);
      @extend .mdl-color--grey-100;
      &:hover {
        text-decoration: none !important;
        @extend .mdl-color--grey-200;
      }
    }
  }

  & .entry-time,
  & .entry-category,
  & .entry-tag {
    margin-bottom: 0;
  }

}
