.entry {
  padding: 1rem 1.5rem;
  border-radius: ($spacer * .125);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
  @extend .mdl-color--white, .mdl-color-text--grey-700;

  > header {
    margin-bottom: 2rem;
  }
  > footer {
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: normal;
    line-height: 1.3;
    word-wrap: break-word;
    margin: ($spacer / 2) auto;
  }

  a {
    color: $link-color;
    border-bottom: 1px solid $link-border-color;
    padding-bottom: 1px;

    &:hover {
      border-color: $link-color;
    }
  }

}

.entry-content {
  p,
  pre,
  > blockquote,
  > ul,
  > ol,
  dl,
  > figure,
  > table,
  form,
  > img,
  > div {
    margin-bottom: 2rem;
  }

  *:not(pre) > code {
    font-size: $font-size-sm;
    line-height: 2;
    margin: 0;
    padding: .2rem 0;
    border-radius: ($spacer * .125);
    @extend .mdl-color--blue-50, .mdl-color-text--blue-400;

    &:before,
    &:after {
      letter-spacing: -0.2rem;
      content: "\00a0";
    }
  }

  li + li {
    margin-top: .25rem;
  }

  blockquote {
    padding: 1.6rem;
    margin-left: .8em;
    border-left: 4px solid unquote("rgb(#{$palette-grey-200})");
    @extend .mdl-color-text--grey-500;

    p:first-child {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }

    small,
    footer {
      display: block;
      font-size: $font-size-sm;
      margin-top: 1.8rem !important;
      text-align: right;
    }
  }

  pre {
    @extend .mdl-color--grey-100;
    padding: 2rem;
    border-radius: ($spacer * .15);

    &.line-numbers {
      padding-left: 4rem;
    }
  }

  table {
    $table-border-width: 1px;

    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;
    border: $table-border-width solid $table-border-color;

    th, td {
      vertical-align: top;
      padding: 1rem;
      border-top: $table-border-width solid $table-border-color;
      border: $table-border-width solid $table-border-color;
    }

    tbody + tbody {
      border-top: (2 * $table-border-width) solid $table-border-color;
    }

    thead {
      th {
        @extend .mdl-color--grey-100, .mdl-color-text--grey-800;
        vertical-align: bottom;
        border-bottom: (2 * $table-border-width) solid $table-border-color;
      }
      th, td {
        border-bottom-width: (2 * $table-border-width);
      }
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: .5rem;
    margin-left: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  > hr {
    border: 0;
    font-size: $font-size-h2;
    height: 2rem;
    line-height: 1;
    margin: 2rem 0;
    text-align: center;
    @extend .mdl-color-text--grey-600;

    &:before {
      content: "***";
    }
  }

}

// amazon
.amazon-product {
  display: block;
  margin: 1rem 0;
  border-radius: ($spacer * .125);
  border: 0 !important;
  @extend .mdl-color-text--grey-700;

  &:focus {
    outline: 0;
  }
  .mdl-grid {
    @extend .mdl-color--grey-50;
  }
  img {
    max-height: 10rem;
  }
  .amazon-title,
  .amazon-author,
  .amazon-date {
    display: block;
  }
  .amazon-title {
    font-weight: bold;
    line-height: 2;
  }
}

.amazlet-image img {
  max-height: 10rem;
}
.amazlet-name {
  line-height: 2 !important;
}
.amazlet-detail,
.amazlet-powered-date,
.amazlet-sub-info {
  display: none;
}
