.entry {
  width: 100%;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.entry-content {
  margin-bottom: 1rem;

  a {
    padding-bottom: 1px;
    border-bottom: 1px solid $link-border-color;
    color: $link-color;

    &:hover {
      border-color: $link-hover-border-color;
    }
    &:focus {
      outline: thin dotted;
      outline-offset: -2px;
    }
  }
}
