// YakuHanJPs
@font-face {
  font-family: YakuHanJP;
  font-weight: normal;
  font-display: swap;
  src: url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-DemiLight.woff2?ver=1.4.0") format("woff2");
}

@font-face {
  font-family: YakuHanJP;
  font-weight: bold;
  font-display: swap;
  src: url("~yakuhanjp/dist/fonts/YakuHanJP/YakuHanJP-Bold.woff2?ver=1.4.0") format("woff2");
}

// Noto Sans Japanese
@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: normal;
  font-display: swap;
  src: local("Noto Sans CJK JP DemiLight"),
       local("NotoSansCJKjp-DemiLight"),
       url("../fonts/NotoSansCJKjp-DemiLight.woff2?ver=1.4.0") format("woff2");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: bold;
  font-display: swap;
  src: local("Noto Sans CJK JP Bold"),
       local("NotoSansCJKjp-Bold"),
       url("../fonts/NotoSansCJKjp-Bold.woff2?ver=1.4.0") format("woff2");
}
