// mdl fix
.mdl-layout,
.mdl-layout__content {
  scroll-behavior: smooth;
}

// header fixed
.mdl-layout__content {
  flex-shrink: 0;
}
.mdl-layout__drawer.is-visible~.mdl-layout__content {
  overflow: hidden;
  height: calc(100vh - #{$layout-desktop-header-height});

  @media screen and (max-width: $layout-screen-size-threshold) {
    height: calc(100vh - #{$layout-mobile-header-height});
  }
}

.mdl-layout__header {
  display: block !important;  // always visible
}

.mdl-textfield__input {
  border-width: 2px;
}

.mdl-layout__drawer-button {
  &:focus {
    outline: 0;
  }
}

.mdl-layout__drawer {
  @extend .mdl-color--white;
}

.mdl-card {
  font-weight: inherit;
}

// .mdl-layout__obfuscator {
//   &.is-visible {
//     background-color: rgba(255,255,255, 0.5);
//   }
// }

.mdl-color--transparent {
  background: transparent;
}

.mdl-layout__drawer-button,
.mdl-layout__drawer-button {
  line-height: 1.75;
}
